<!DOCTYPE html>
<html lang="en" data-ng-app="taskApp">
<head>
	<meta charset="UTF-8">
	<title>Task Manager</title>
	<style>
	.completed {
		color : red;
		text-decoration: line-through;
		font-style: italic;
		font-weight: bold;
	}
	.edit{
		width: 50%;
		padding : 5px;
		border : 2px solid black;
		border-radius: 5px;
	}
	.edit label{
		display : block;
	}
	th {
		cursor: pointer;
	}

	</style>
	<script src="moment.js"></script>
	<script type="text/javascript" src="angular.js"></script>
	<script src="utils.js"></script>
	<script>
	angular.module("taskApp", ["utils"]);

	angular.module("taskApp").value("appStorage" , window.localStorage);

	angular.module("taskApp").factory("Task", function(){
		function Task(defaults){
			this.id = defaults.id || new Date().valueOf();
			this.name = defaults.name || "";
			this.category = defaults.category || "Official";
			this.isCompleted = defaults.isCompleted || false;
			this.createdAt = defaults.createdAt || new Date();
			this.description = defaults.description || "";
		}

		Task.prototype.toggle = function(){
			this.isCompleted = !this.isCompleted;
		};
		return Task;
	});

	angular.module("taskApp").service("taskStorage", function TaskStorage(appStorage, Task){
		
		var storage = appStorage;
		
		this.save = function(task){	
			storage.setItem(task.id, window.JSON.stringify(task));
		};
		this.remove = function(task){
			storage.removeItem(task.id);
		};
		this.getAll = function(){
			var result = [];
			for(var i=0;i<storage.length;i++){
				var taskAsString = storage.getItem(storage.key(i));
				result.push(new Task(window.JSON.parse(taskAsString)));
			}
			return result;
		}
	});

	angular.module("taskApp").controller("TaskController", function($scope, taskStorage){

		$scope.taskToEdit = null;
		var originalTask = null;
		$scope.setTaskToEdit = function(task){
			originalTask = task;
			$scope.taskToEdit = angular.copy(task);
		};

		$scope.update = function(){
			angular.copy($scope.taskToEdit, originalTask);
			taskStorage.save(originalTask);
			originalTask = null;
			$scope.taskToEdit = null;
		};
		$scope.cancel = function(){
			originalTask = null;
			$scope.taskToEdit = null;
		}
	});

	angular.module("taskApp").service("taskService", function($http, Task, $q){
		this.getAll = function($scope){
			var deferred = $q.defer();
			
			var promise = $http({method : "get", url : "/tasks"});
			promise.then(function(response){
				var responseObj = response.data;
				var tasks = responseObj.tasks.map(function(taskObj){
					return new Task(taskObj);
				});
				deferred.resolve(tasks);
			});
			
			return deferred.promise;
		}
	})

	angular.module("taskApp").controller("TaskListController", function ($scope, taskStorage, Task, taskService){
		
		/*
		//from Storage
		$scope.tasks = taskStorage.getAll();
		$scope.categories = Object.keys($scope.tasks.reduce(function(seed, task){
				seed[task.category] = seed[task.category] || 0;
				return seed;
			}, {}));
		*/
		$scope.tasks = [];
		$scope.categories = []; 
		/*
		$scope.categories = Object.keys($scope.tasks.reduce(function(seed, task){
				seed[task.category] = seed[task.category] || 0;
				return seed;
			}, {}));
		*/
		taskService.getAll().then(function(tasks){
			$scope.tasks = tasks;
			$scope.categories = $scope.categories.concat(Object.keys($scope.tasks.reduce(function(seed, task){
				seed[task.category] = seed[task.category] || 0;
				return seed;
			}, {})));
		});
		

		$scope.addCategory = function(newCategory){
			$scope.categories.push(newCategory);
		}
		
		$scope.addTask = function(taskName, taskCategory){
			var newTask = new Task({name : taskName, isCompleted : false, category : taskCategory});
			taskStorage.save(newTask);
			$scope.tasks.push(newTask);
		};
		$scope.removeCompleted = function(){
			for(var i=$scope.tasks.length-1;i>=0;i--){
				if ($scope.tasks[i].isCompleted){
					taskStorage.remove($scope.tasks[i]);
					$scope.tasks.splice(i,1);
				}
			}
		};
		$scope.toggle = function(task){
			task.toggle();
			taskStorage.save(task);
		};

		$scope.sortOrder = 'name';
		$scope.descending = false;
		$scope.setSortOrder = function(sortOrder){
			if ($scope.sortOrder === sortOrder){
				$scope.descending = !$scope.descending;
			} else {
				$scope.descending = false;
				$scope.sortOrder = sortOrder;	
			}
			
		}

	});

	angular.module("taskApp").controller("TaskEditController", function($scope){
		
	});

	angular.module("taskApp").filter("completedCount", function(){
		return function(tasks, value){
			return (tasks.filter(function(task){
				return task.isCompleted;
			})).length;
		}
	});

	angular.module("taskApp").filter("showCategories", function(){
		return function(tasks,category){
			return (tasks.filter(function(task){
				return task.category === category;
			})).length > 0;
		}
	});

		
	</script>
</head>
<body  >
	<h1>Task Manager</h1>
	<div data-ng-controller="TaskController">
		<div data-ng-controller="TaskListController">
			<h3>[{{tasks | completedCount:10}} / {{tasks.length}}]</h3>
			<hr>
			<div>
				<label for="">Category :</label>
				<input type="text" data-ng-model="newCategory">
				<input type="button" value="Add Category" data-ng-click="addCategory(newCategory)">
			</div>
			<hr>
			<div>
				<label for="">Task :</label>
				<input type="text" data-ng-model="newTask">
				<select data-ng-model="taskCategory" data-ng-options="category as category for category in categories">
					
				</select>
				<input type="button" value="Add Task" data-ng-click="addTask(newTask, taskCategory)">
				<input type="button" value="Remove Completed" data-ng-click="removeCompleted()">
				
			</div>
			<hr>
			<h3>Task List</h3>
			<div>
				<span>Search :</span>
				<input type="search" data-ng-model="searchTask.name">
			</div>
			<table style="width : 100%">
				<tr>
					<th data-ng-click="setSortOrder('name')">Name</th>
					<th data-ng-click="setSortOrder('category')">Category</th>
					<th data-ng-click="setSortOrder('isCompleted')">Status</th>
					<th data-ng-click="setSortOrder('createdAt')">Created At</th>
					<th></th>
				</tr>
				<tr data-ng-repeat="task in tasks | filter:searchTask | orderBy:sortOrder:descending">
					<td data-ng-class="{completed : task.isCompleted}" data-ng-click="toggle(task)">{{task.name}}</td>
					<td>{{task.category}}</td>
					<td>{{task.isCompleted ? "Completed" : "In Progress"}}</td>
					<td>{{task.createdAt | toMoment}}</td>
					<td>
						<input type="button" value="Edit" data-ng-click="setTaskToEdit(task)" >
					</td>
				</tr>
			</table>
			<!-- <div data-ng-repeat="category in categories" data-ng-show="(tasks|filter:{category: category}).length > 0">
				<h3>{{category}}</h3>
				<ol>
					<li data-ng-repeat="task in tasks | filter:{category : category}">{{task.name}}</li>
				</ol>
			</div> -->
		</div>
		<div data-ng-controller="TaskEditController" class="edit" data-ng-show="taskToEdit !== null">
			
			<h3>Task</h3>
			<div>
				<label for="">Name :</label>
				<input type="text" data-ng-model="taskToEdit.name">
			</div>
			<div>
				<label for="">Description :</label>
				<textarea cols="40" rows="10" data-ng-model="taskToEdit.description"></textarea>
			</div>
			<div>
				<span>isCompleted?</span>
				<input type="checkbox" data-ng-model="taskToEdit.isCompleted">
			</div>
			<div>
				<input type="button" value="Save" data-ng-click="update()">
				<input type="button" value="Cancel" data-ng-click="cancel()">
			</div>
		</div>
		
	</div>
</body>
</html>